<div class="container-fluid" style="max-width: 50em;">
  <div class="container">
    <h5>Introdução</h5>
    <p>
      Os incêndios florestais cresceram de forma vertiginosa no Brasil durante o ano 2020 em
      quase todos os biomas, de acordo com informações do Instituto Nacional de Pesquisas
      Especiais (Inpe). Por exemplo, entre janeiro e agosto, foram registrados 44013 focos de
      queimadas na Amazônia e no Pantanal.
    </p>
  </div>

  <div class="container">
    <h5>Como jogar</h5>
    <ul>
      <li>Para iniciar o jogo, pressione S em seu teclado;</li>
      <li>Para pausar o jogo, pressione P em seu teclado.</li>
    </ul>
    </p>
  </div>

  <div class="container">
    <h5>Regras</h5>
    <ul>
      <li>Quando o jogo inicia, começa a aparecer focos de incêncio ao longo da reserva
        florestal, em intervalos de tempo randômicos que variam entre 1 e 4 segundos;</li>
      <li> O foco de
        incêndio fica visível durante 2 segundos, que é o período de tempo que o jogador tem para
        clicar no foco e apagá-lo. Caso o jogador consiga apagar o foco de incêndio, ele ganha 10
        pontos. Caso não consiga, o jogador irá perder 1 vida;</li>
      <li>Além dos focos de incêncio, caveiras de fogo também aparecem na reserva
        florestal, em intervalos de tempo aletórios que podem
        variar entre 5 e 20 segundos. Da mesma forma que os focos de incêncio, as caveiras de fogo
        ficam visíveis durante 2 segundos, que é o tempo que o jogador tem para clicar na caveira e
        destruí-la. Caso não consiga, o jogador irá perder 2 vidas;</li>
      <li>A velocidade com que os focos de incêncio e as caveiras aparecem e
        desaparecem aumentam a cada 60 frames passados.</li>


    </ul>
    </p>
  </div>
</div>